<div class="jumbotron jumbotron-fluid" style="background-color: #CBE8C4;>
  <div class="container">
    <div class="index-jumbotron">
      <h1 id="banner-typed-text" class="display-2" style="text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;"></h1>
      </div>
  </div>
</div>

<div class="grid-container">
  <div class="cards-grid">
    <%@cocktails.each do |cocktail| %>
      <% random = rand(1..20) %>
        <div class="cocktail-card" >
            <h2 id="card-heading"><%=cocktail.name%></h2>
              <div class="card-delete">
                  <%=link_to "X", cocktail_path(cocktail.id), class:"btn btn-outline-success", data: {
                    confirm: "Aru you sure you want to delete: #{cocktail.name}?",} ,method: :delete %>
              </div>
            <%= image_tag "#{random}.jpg", class:"grid-image" %>
            <div class="card-button">
              <%=link_to "Details about this cocktail", cocktail_path(cocktail.id), class:"btn btn-outline-success"%> 
            </div>               
          </div>
    <% end %>
  </div>
</div>

<div class="jumbotron" style="background-color: #CBE8C4">
  <div class="center-within">
    <%=link_to "Add Cocktail", new_cocktail_path, class: "btn btn-outline-success btn-lg"%>   
  </div>
 </div>






