

<div class="container form-container">
  <h1>Add a new cocktail to the database</h1>

  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file%>
  <%= f.submit 'Add Cocktail', class: "btn btn-primary"%>
  <%= link_to "Go back to all coctails", cocktails_path, class: "btn btn-primary" %>
  <% end %>
</div>


